<%= form_for [@project, @task] do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :priority %><br>
    <%= f.collection_select :priority_id, Priority.all, :id, :status %>
  </div>
  <div class="form-group">
    <%= f.label :deadline %><br>
    <%= f.datetime_select :deadline, start_year: Date.today.year, :include_blank => true, class: "form-control" %>
  </div>
  <div class="form-inline">
      <%= f.label :done, class: "" %>
      <%= f.check_box :done, {class: "form-check-input"}, "true", "false" %>

  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-outline-secondary" %>
  </div>
<% end %>
