<%= form_for [@project, @task] do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :title %>
  <%= f.text_field :description %>
  <%= f.collection_select :priority_id, @priorities,:id,:status %>
  <%= f.datetime_select :deadline %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
