<div class="row margin-top-10 flex justify-content-end">
  <%= button_to "Sign Out",  sign_out_path, method: :delete, class: 'btn btn-outline-secondary' %>
</div>
<div id="projects" class="margin-top-50">
  <h1>Projects</h1>
  <hr>
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-sm-4 margin-top-10">
        <a href="<%=project_path(project)%>">
          <div class="card">
            <div class="card-header">
              <%= project.user.email %>
            </div>
            <div class="card-body">
              <%= project.project_name %>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
  <br>
  <%= button_to 'New Project', new_project_path, class: 'btn btn-outline-secondary', method: :get %>
</div>
