<!-- <p id="notice"><%= notice %></p> -->
<%= @project.project_name %>
<% @tasks.each do |task| %>
   <%=  %> <%= link_to task.title, project_task_path(task), class: "" %>
<%end %>
<%= link_to 'Back', projects_path %>
