<div class="row margin-top-10">
  <div class="col-sm-12">
    <div class="row">
      <div class="offset-sm-3 col-sm-6">
        <h2 class=""><%= @project.project_name %></h2>
      </div>
      <div class="col-sm-3">
        <% if current_user.id == @project.user.id %>
          <%= link_to 'Edit Project', edit_project_path, class: 'btn btn-outline-secondary' %>
        <% end %>
          <%= link_to 'All Projects', projects_path, class: 'btn btn-outline-secondary' %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="offset-sm-3 col-sm-6">
    <% @tasks.each do |task| %>
    <a href="<%=task_path(task)%>">
      <div class="card margin-top-10">
        <div class="card-body">
          <%= task.title %>
        </div>
        <div class="card-footer text-muted">
          <small class="text-muted"><%= task.priority.status %></small>
          <small class="text-muted"><%= "Done" if task.done %></small>
          <small class="text-muted"><%=  task.deadline.strftime('%H:%M %a %b %d %Y') if task.deadline %></small>
        </div>
      </div>
    </a>
    <%end %>
  </div>
</div>
